---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>
        </nav>
        <h1>This is my blog where you can find thing that I'm writing</h1>
        <h2>Blog post</h2>
        <p>I'd like to share with you my experince in web development.</p>
    </body>
</html>
